# stream.cfg
database.cfg
keys.cfg
cache
db

# resources
resources/\[stream\]/
resources/\[template\]/
resources/\[miscs\]/DoluMappingTool
gizmo

# **/.vscode
**/node_modules
*.code-workspace

*.log

