cache
db
*.log

# configs
stream.cfg
database.cfg
keys.cfg

# resources
resources/\[stream\]/
resources/\[template\]/
resources/\[miscs\]/DoluMappingTool
gizmo

# **/.vscode
**/node_modules
*.code-workspace

