# Add system admins ##########################################################################################
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit

# Admins identifiers
add_principal identifier.license:e9be42f986365d66236ad96d4d0193de526fd1eb group.admin # Dolu

# ox_lib
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow